# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore dotenv environment variable files
.env
.env.*

# Ignore build artifacts
build/
dist/
out/
tmp/
*.log

# Ignore OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore dependency lock files
yarn.lock
package-lock.json
npm-shrinkwrap.json

# Ignore environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore any other files or directories specific to your project
!utils/sendEmail.js
!routes/jokeRoutes.js
!controllers/userController.js